.element__like {
    margin: 30px 30px auto auto;
    width: 26px;
    height: 19px;
    background: url(../../../images/Vector2.svg);
    background-repeat: no-repeat;
    font-size: 0;
    border: none;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background: url(../../../images/like-active.svg);
    background-repeat: no-repeat;
}

.element__like:focus {
    outline: none;
}