.elements {
    width: 880px;
    min-height: 744px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
}

@media screen and (max-width: 1279px) {
    .elements {
        justify-content: center;
        width: 65%;
        padding: auto;
    }
}