.popup__save {
    width: 358px;
    height: 50px;
    margin: 48px 36px 37px 36px;
    background: #000000;
    border-radius: 2px;
    background-image: url(../../../images/Сохранить.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.popup__save:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__save {
        width: 238px;
        height: 46px;
        margin: 45px 22px 25px 22px;
    }
}